main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 41px;
  padding-top: 50px;
  min-height: 100vh;
  background-color: var(--clr-teal-900);
}

section {
  flex-grow: 1;
  width: 100%;
  padding: 32px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: var(--clr-white-900);
}

.inputs {
  display: grid;
  row-gap: 32px;
  margin-bottom: 32px;
}

input[type='text'],
input[type='number'] {
  height: 48px;
  width: 100%;
  padding-inline: 18px;
  background-color: var(--clr-white-800);
  border: none;
  border-radius: 5px;
  text-align: right;
}

.totals {
  background-color: var(--clr-teal-100);
  border-radius: 15px;
}

.totals h3 {
  color: var(--clr-white-900);
}

.totals h2 {
  color: var(--clr-teal-600);
}

.totals p {
  color: var(--clr-teal-700);
}