main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 88px;
  padding-top: 50px;
  min-height: 100vh;
  background-color: var(--clr-teal-900);
}

@media screen and (max-width: 480px) {
  main {
    gap: 41px;
  }
}

section {
  width: 100%;
  height: fit-content;
  max-width: 921px;
  padding: 32px;
  border-radius: 25px;
  background-color: var(--clr-white-900);
}

@media screen and (max-width: 480px) {
  section {
    flex-grow: 1;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media screen and (max-width: 768px) {
  section {
    max-width: 480px;
  }
}

@media screen and (min-width: 769px) {
  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
  }
}

.inputs {
  display: grid;
  row-gap: 32px;
  margin-bottom: 32px;
}

.inputs > label h4 {
  margin-bottom: 6px;
}

input {
  font-family: inherit;
}

label {
  position: relative;
}

label[for='bill']::before,
label[for='people']::before {
  position: absolute;
  left: 18px;
  bottom: 10px;
}

label[for='bill']::before {
  content: url(/icon-dollar.svg)
}

label[for='people']::before {
  content: url(/icon-person.svg)
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.options h4 {
  grid-column: 1 / span 2;
}

@media screen and (min-width: 769px) {
  .options {
    grid-template-columns: repeat(3, 1fr);
  }

  .options h4 {
    grid-column: 1 / span 3;
  }
}

input[type='text'],
input[type='number'] {
  height: 48px;
  width: 100%;
  padding-inline: 18px;
  background-color: var(--clr-white-700);
  border: none;
  border-radius: 5px;
  text-align: right;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
  opacity: 0.35;
}

input:where([type="text"], [type="number"]):is(:hover, :focus) {
  outline: 2px solid var(--clr-teal-400);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[aria-invalid="true"] {
  outline: 2px solid var(--clr-red-900);
}

label:has(input[aria-invalid="true"])::after {
  content: "Can't be zero";
  position: absolute;
  right: 0;
  top: 0;
  color: var(--clr-red-900);
  font-weight: bold;
}

input[type='radio'] {
  display: none;
}

label:has(input[type="radio"]):is(:hover, :focus),
label:has(input[type="radio"]:is(:hover, :focus)) {
  color: var(--clr-teal-100);
  background-color: var(--clr-teal-800);
}

label:has(#custom) {
  color: var(--clr-teal-500);
  background-color: var(--clr-white-700);
}

label:has(#custom_tip_value[data-show="true"]) span {
  opacity: 0;
}

label:has(#custom_tip_value[data-show="true"])::before {
  content: "%";
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

#custom_tip_value[data-show="false"] {
  display: none;
}

#custom_tip_value {
  position: absolute;
  inset: 0;
}

.options > label {
  display: grid;
  place-items: center;
  height: 48px;
  color: var(--clr-white-900);
  background-color: var(--clr-teal-100);
  text-align: center;
  border-radius: 5px;
}

.options > label,
input[type="text"],
input[type="number"] {
  font-size: 24px;
  font-weight: bold;
}

.options > label:has(input:checked) {
  color: var(--clr-teal-100);
  background-color: var(--clr-teal-400);
}

.totals {
  position: relative;
  padding: 24px;
  padding-top: 37px;
  background-color: var(--clr-teal-100);
  border-radius: 15px;
}

@media screen and (min-width: 769px) {
  .totals {
    padding: 40px;
  }
}

.totals > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.totals h3 {
  color: var(--clr-white-900);
  font-size: 16px;
}

.totals h2 {
  color: var(--clr-teal-400);
  font-size: 32px;
  letter-spacing: -0.67px;
}

.totals p {
  color: var(--clr-teal-600);
  font-size: 13px;
  font-weight: bold;

}

.totals button {
  height: 48px;
  width: 100%;
  margin-top: 12px;
  color: var(--clr-teal-100);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--clr-teal-400);
  border: none;
  border-radius: 5px;
  font-family: inherit;
}

.totals button:disabled {
  opacity: 0.2;
}

@media screen and (min-width: 769px) {
  .totals button {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: calc(100% - 80px);
  }
}
