main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 41px;
  padding-top: 50px;
  min-height: 100vh;
  background-color: var(--clr-teal-900);
}

section {
  flex-grow: 1;
  width: 100%;
  padding: 32px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: var(--clr-white-900);
}

.inputs {
  display: grid;
  row-gap: 32px;
  margin-bottom: 32px;
}

.inputs > label h4 {
  margin-bottom: 6px;
}

input {
  font-family: inherit;
}

label[for='bill'],
label[for='people'] {
  position: relative;
}

label[for='bill']::before,
label[for='people']::before {
  position: absolute;
  left: 18px;
  bottom: 10px;
}

label[for='bill']::before {
  content: url(/icon-dollar.svg)
}

label[for='people']::before {
  content: url(/icon-person.svg)
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.options h4 {
  grid-column: 1 / span 2;
}

input[type='text'],
input[type='number'] {
  height: 48px;
  width: 100%;
  padding-inline: 18px;
  background-color: var(--clr-white-800);
  border: none;
  border-radius: 5px;
  text-align: right;
}

input[type='radio'] {
  display: none;
}

.options > label {
  display: grid;
  place-items: center;
  height: 48px;
  color: var(--clr-white-900);
  background-color: var(--clr-teal-100);
  font-size: 24px;
  text-align: center;
  border-radius: 5px;
}

.options > label:has(input:checked) {
  color: var(--clr-teal-100);
  background-color: var(--clr-teal-600);
}

.totals {
  padding: 24px;
  padding-top: 37px;
  background-color: var(--clr-teal-100);
  border-radius: 15px;
}

.totals > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.totals h3 {
  color: var(--clr-white-900);
  font-size: 16px;
}

.totals h2 {
  color: var(--clr-teal-600);
  font-size: 32px;
  letter-spacing: -0.67px;
}

.totals p {
  color: var(--clr-teal-700);
  font-size: 13px;
  font-weight: bold;

}

.totals button {
  height: 48px;
  width: 100%;
  margin-top: 12px;
  color: var(--clr-teal-100);
  font-size: 20px;
  font-weight: bold;
  background-color: var(--clr-teal-600);
  border: none;
  border-radius: 0;
  font-family: inherit;
}