@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white-900: #FFF;
  --clr-white-800: #F3F9FA;
  --clr-teal-900: #C5E4E7;
  --clr-teal-800: #9EBBBD;
  --clr-teal-700: #7F9D9F;
  --clr-teal-600: #547878;
  --clr-teal-500: #26C2AE;
  --clr-teal-100: #00474B;
}

html {
  font-family: 'Space Mono', 'Arial', sans-serif;
}

button,
label:has(input[type="radio"]) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
