@import url(https://fonts.googleapis.com/css?family=Space+Mono:regular,italic,700,700italic);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white-900: #FFF;
  --clr-white-800: #F3F9FA;
  --clr-teal-900: #C5E4E7;
  --clr-teal-800: #9FE8DF;
  --clr-teal-700: #9EBBBD;
  --clr-teal-600: #7F9D9F;
  --clr-teal-500: #547878;
  --clr-teal-400: #26C2AE;
  --clr-teal-100: #00474B;
  --clr-red-900: #E17457;
}

html {
  font-family: 'Space Mono', 'Arial', sans-serif;
}

button,
label,
input {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
